nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

nav li {
  margin: 0 1.5rem; /* Adjusted margin to add more spacing */
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: #555;
}

nav .active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
